body {
  background-color: #505050;
  color: #eee;

  .btn-primary {
    background-color: #b76b00;

    &:hover {
      background-color: #854900;
    }
  }

  div.well {
    background-color: #383838;
    border: 3px solid #505050;

    .text-muted {
      color: #ccc;
    }

    a {
      color: #b76b00;
    }

    select {
      color: #383838;
    }

    .public-repos-header-hr {
      margin-top: 0;
    }

  }
}