<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3>Search Github:</h3>
    <div ng-show="home.searchError" class="alert alert-danger fade in alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <span><strong>Error:</strong> {{home.searchError}}.</span>
    </div>
    <!--<div ng-show="home.searchSuccess" class="alert alert-success fade in alert-dismissable">-->
      <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
      <!--<span><strong>Success!</strong></span>-->
    <!--</div>-->
    <form class="form-inline">
      <div class="form-group">
        <label for="github-search" class="sr-only"></label>
        <input ng-model="home.githubUsername" class="form-control" id="github-search" placeholder="Github Username">
        <button class="btn btn-primary" ng-click="home.search(home.githubUsername)">Search</button>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div ng-show="home.currentUserObj" class="search-results">
    <div class="well">
      {{home.currentUserObj}}
    </div>
  </div>
</div>