<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3>Search Github:</h3>
    <div ng-show="home.searchError" class="alert alert-danger fade in alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <span><strong>Error:</strong> {{home.searchError}}.</span>
    </div>
    <!--<div ng-show="home.searchSuccess" class="alert alert-success fade in alert-dismissable">-->
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
    <!--<span><strong>Success!</strong></span>-->
    <!--</div>-->
    <form class="form-inline">
      <div class="form-group">
        <label for="github-search" class="sr-only"></label>
        <input ng-model="home.githubUsername" class="form-control" id="github-search" placeholder="Github Username" date-keys />
        <button class="btn btn-primary" ng-click="home.search(home.githubUsername)">Search</button>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div ng-show="home.currentUserObj" class=" col-md-8 col-md-offset-2 search-results">
    <div class="well">
      <div class="row">
        <div class="gravatar col-sm-6"><img class="img-responsive" ng-src="{{home.currentUserObj.avatar_url}}"
                                            alt="{{home.currentUserObj.login}}"></div>
        <div class="col-sm-6">
          <h3><span class="text-muted">Username:</span> <a ui-sref="userState({username: home.currentUserObj.login})" href="">{{home.currentUserObj.login}}</a></h3>
          <p><span class="text-muted">Bio:</span> {{home.currentUserObj.bio}}</p>
          <p><span class="text-muted">Location:</span> {{home.currentUserObj.location}}</p>
          <p><a ui-sref="user({username: home.currentUserObj.login})" href="">Public Repos:</a> {{home.currentUserObj.public_repos}}</p>
          <p><span>Followers:</span> {{home.currentUserObj.followers}}</p>
        </div>
        <p
      </div>
      <repo-list current-user-repos="home.currentUserRepos" repos-sort-order="home.reposSortOrder"></repo-list>
    </div>
  </div>
</div>

<!--/////////////////////////////////////-->